*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.navbar{
    background-color: rgb(240, 54, 54);
    color: white;
    padding: 10px;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 800px;
}
.navlinks ul{
    display: flex;
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    padding-right: 15px;
    color: white;
}
.hero-content{
    margin-top: 120px;
}
.hero-content .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.hero-img img{
    width: 600px;
    border-radius: 10px;
}
.hero-text h1{
    font-size: 50px;
    line-height: 1;
    color: rgb(240, 54, 54);
    margin-bottom: 15px;
    text-align: center;
}
.hero-text p{
    font-size: 18px;
    margin-bottom: 15px;
}
.search input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(86, 86, 86);
    color: white;
    outline: none;
    font-size: 15px;
    width: 400px;
    position: relative;
}
.search input::placeholder{
    color: white;
}
.fa-magnifying-glass{
    position: absolute;
    z-index: 99;
    top: 58%;
    right: 16%;
    color: white;
}