*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.navbar{
    background-color: rgb(240, 54, 54);
    color: white;
    padding: 10px;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 800px;
}
.navlinks ul{
    display: flex;
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    padding-right: 15px;
    color: white;
}
.hero-content{
    margin-top: 120px;
}
.hero-content .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.hero-img img{
    width: 600px;
    border-radius: 10px;
}
.hero-text h1{
    font-size: 50px;
    line-height: 1;
    color: rgb(240, 54, 54);
    margin-bottom: 15px;
    text-align: center;
}
.hero-text p{
    font-size: 18px;
    margin-bottom: 15px;
}
.search input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(86, 86, 86);
    color: white;
    outline: none;
    font-size: 15px;
    width: 400px;
    position: relative;
}
.search input::placeholder{
    color: white;
}
.fa-magnifying-glass{
    position: absolute;
    z-index: 99;
    top: 58%;
    right: 16%;
    color: white;
}

/* Featured Section */
.featured{
    margin-top: 8%;
}
.featured .container h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.recipe-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.recipe-card .recipe{
    width: 350px;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.recipe-card .recipe:hover{
    transform: scale(1.07);
}
.recipe-card .recipe .recipe-img img{
    width: 350px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.recipe-card .recipe .recipe-text h3{
    color: tomato;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.recipe-card .recipe .recipe-text p{
    padding: 0px 0px 10px 25px;
}

/* Footer Section */
.footer{
    background-color: rgb(184, 181, 181);
    margin-top: 80px;
}
.top{
    padding: 60px 0 20px 0;
}
.top .cols{
    display: flex;
    justify-content: space-between;
}
.top .cols .col h3{
    padding-bottom: 10px;
    font-size: 19px
}
.top .cols .col p{
    margin-bottom: 10px;
}
.top .cols .col ul li{
    list-style: none;
}
.top .cols .col ul li a{
    text-decoration: none;
    color: black;
}
hr{
    width: 100%;
}
.bottom p{
    padding: 20px 0 10px 0;
    text-align: center;
}